
img{
    width:202px; height:202px;
}
.lionimage{
    display:block;
   
    margin-right:auto;
    padding-left: 20px;
}    
.carousel{
width:200px; height:200px;
}

.bg-image{
background-repeat:no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center;
}

.col-sm{
justify-content:center;
}

.card{
    margin-right: 10px;
}