p{
    color:red
}
img{
    width:200px; height:200px;
}
.Logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
}    
.carousel{
width:200px; height:200px;
}
.carousel-inner img{
margin:auto;
}