
img{
    width:201px; height:201px;
}
.Logo{
    display:block;
    margin-left:auto;
    margin-right:auto;
}    
.carousel{
width:200px; height:200px;
}

.bg-image{
background-repeat:no-repeat;

}
